<div>
    <form ng-submit="$ctrl.userName && $ctrl.doLogin();">
        <input type="text" ng-model="$ctrl.userName" placeholder="Please type your name ...">
        <button ng-disabled="!$ctrl.userName">Login</button>
    </form>
</div>