<div>
    <h3>Hello {{$ctrl.userName}}</h3>
    <div>
        <button ng-click="$ctrl.logOut()">LogOut</button>
    </div>
    <ul>
        <li ng-repeat="message in $ctrl.messages track by message.timestamp">
            <p>{{message.message}}</p>
            <p><small>Author: {{message.author}} Date: {{message.timestamp | date: 'medium'}}</small></p>
        </li>
    </ul>
    <hr/>
    <div>
        <form ng-submit="$ctrl.message && $ctrl.sendMessage()">
            <input type="text" ng-model="$ctrl.message" placeholder="Type your message..." cols="30" rows="10"/>
            <div>
                <button ng-disabled="!$ctrl.message">Send message</button>
            </div>
        </form>
    </div>
</div>